* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 0.875rem;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: calc(1.325rem + 0.9vw);
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
.bg-gradient {
  background-color: rgba(32, 31, 31, 0.1);
  /* background-color: rgba(255, 255, 255, 0.061); */
  border-color: rgba(255, 255, 255, 0.1);
}
.sidebar .nav-link.active {
  color: #2470dc;
}
.active-text {
  color: #2470dc !important;
}
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
}
.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.nav-link {
  padding: 0.5rem 1rem;
}
.sidebar .nav-link span {
  margin-left: 4px;
  color: #727272;
}
.table-col {
  padding: 0.25rem 0.25rem;
}
::placeholder {
  color: #b5b3b3 !important;
  opacity: 1;
}
input {
  box-shadow: none !important;
  border-radius: none !important;
}
li :hover {
  color: #727272;
}
